<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <header>         
        <section>             
            <img src = "/images/logo-mercado-liebre.svg"aling = "center" border= "1px solid yellow" width = "50%"> >
            <h2 aling ="center"> Lugar para poner barra de búsqueda <br/>
            Comprà en cuotas y sin tarjeta de Crèdito</h2>
            <br/>
            
            <ul aling = "center">
                <li><a href ="circle"><u>Ofertas</u></a></li>
                <li><a href ="circle">Tiendas Oficiales</a></li>
                <li><a href ="circle">Vender</a></li>
                <li><a href ="circle">Ayuda</a></li>
               
            </ul>
            <br/>
            <ul>
                <li><a href ="circle">Creà tu Cuenta</a></li>
                <li><a href ="circle">Ingresà</a></li>
                <li><a href ="circle">Mis Compras</a></li>
               
            </ul>         
        <br/>         
        </section>
    </header>
     <main aling = "center">         
        <section id="ultimaVisita">
        <img src = "/images/img-home-banner.jpg" aling = "center" width = "50%" >
        <br/>
        <article id = "cafetera">   
            <h2 aling = "center"><strong>Basado en la ùltima Visita</strong></h2>
            <img src = "/images/img-cafetera-moulinex.jpg" aling = "center" width = "50%" >
            <br/>
            <p>$6.770</p>
            <p>40% OFF </p>    
            <p><strong>Cafetera Moulinex</strong></p>
        </article>

         <article id= "mac">
         <img src = "/images/img-macbook-pro-2019.jpg" aling ="center"width = "50%" >
         <br/>
            <p>$230.000</p>
            <p>20% OFF </p>    
            <p><strong>MacBook Pro 2019</strong></p>
         </article>

         <article id= "movil">
         <img src = "/images/img-samsung-galaxy-s10.jpg" aling = "center" width = "50%" >
         <br/>
            <p>$70.500</p>
            <p>10% OFF </p>    
            <p><strong>Samsung Galaxy S10</strong></p>
         </article>
         <article id="smartV">
         <img src = "/images/img-tv-samsung-smart.jpg" aling="center" width = "50%" >
         <br/>
            <p>$23.200</p>
            <p>5% OFF </p>    
            <p><strong>SmartTv Samsung 43</strong></p>
        </article> 
        </section>

        <section id="ofertas">
                <article id = "cafetera">   
                <h3 aling = "center"><strong>Ofertas</strong></h3>
                <img src = "/images/img-cafetera-moulinex.jpg" aling = "center" width = "50%" >
                <br/>
                <p>$6.770</p>
                <p>40% OFF </p>    
                <p><strong>Cafetera Moulinex</strong></p>
            </article>
    
             <article id= "mac">
             <img src = "/images/img-macbook-pro-2019.jpg" aling ="center"width = "50%" >
             <br/>
                <p>$230.000</p>
                <p>20% OFF </p>    
                <p><strong>MacBook Pro 2019</strong></p>
             </article>
    
             <article id= "movil">
             <img src = "/images/img-samsung-galaxy-s10.jpg" aling = "center" width = "50%" >
             <br/>
                <p>$70.500</p>
                <p>10% OFF </p>    
                <p><strong>Samsung Galaxy S10</strong></p>
             </article>
             <article id="smartV">
             <img src = "/images/img-tv-samsung-smart.jpg" aling="center" width = "50%" >
             <br/>
                <p>$23.200</p>
                <p>5% OFF </p>    
                <p><strong>SmartTv Samsung 43</strong></p>
            </article> 
        </section>      
      </main>
     <footer>
         <section id="formaPago">
             <br/>
            <p aling= "center"><strong>Pagá con tarjeta o en efectivo</strong></p>
            
            <p aling = "center">Con Mercado Liebre Cash, tenés cuotas sin </p>
            <p aling ="center" >interés con tarjeta o efectivo en puntos de </p>
            <p aling = "center">pago. ¡Y siempre es seguro!</p>
            
            <br/>
            </section>
         <section id="envioPremiun">
         <p aling= "center"><strong>Envío gratis desde $ 2.500</strong></p>
         
         <p aling = "center">Solo por estar registrad@ en Mercado Liebre </p>
         <p aling = "center"> tenés envíos gratis en miles de productos. Es </p>
         <p aling = "center"> un beneficio de Mercado Puntos.</p>          
             
         <br/>
         <section id="seguridad">
            <p aling= "center"><strong>Seguridad, de principio a fin.</strong></p>
            
            <p aling = "center">¿No te gusta? ¡Devolvelo! En Mercado Liebre,</p>
            <p aling = "center">no hay nada que no puedas hacer,porque estás </p>
            <p aling = "center">siempre protegid@. </p>    
         <br/>
            <h3 aling="center">Copyright &#169 1999-2020 MercadoLiebre S.R.L.></h3>
         </section>
       
     </footer>     
    </body>
</html>